@font-face {
    font-family: 'Leander'; src: url(../fontes/Leander.ttf);
}

@font-face {
    font-family: 'Another Danger-Demo';
    src: url(../fontes/Another\ Danger-Demo.otf);
}

@font-face {
    font-family: 'TypoSlab-Irregular-Demo';
    src: url(../fontes/TypoSlab-Irregular-Demo.otf);
}